[submodule "libs/foundation"]
	path = libs/foundation
	url = https://github.com/PMeeske/ouroboros-foundation.git
	branch = main

[submodule "libs/engine"]
	path = libs/engine
	url = https://github.com/PMeeske/ouroboros-engine.git
	branch = main
